.timeline {
  background-color: #1d2024;
}
.outer {
  /* margin-left: 20vw; */
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cardss {
  position: relative;
  max-width: 400px;
}

.cardss:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.cardss:nth-child(even) {
  padding: 30px 30px 30px 0;
}
.cardss::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid rgb(122, 122, 255);
}

.cardss:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

.cardss:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

.cardss:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

.cardss:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

.cardss:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

.info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

.title {
  color: rgb(122, 122, 255);
  position: relative;
  background-color: transparent;
  margin-bottom: 8px;
}

.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid rgb(122, 122, 255);
}

.cardss:nth-child(even) > .info > .title {
  text-align: right;
}

.cardss:nth-child(odd) > .info > .title::before {
  left: -45px;
}

.cardss:nth-child(even) > .info > .title::before {
  right: -45px;
}
