.header {
  display: flex;
  align-items: center;
  height: 7vh;
  width: 100vw;
  justify-content: space-between;
  background-color: #1d2024;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.headerList {
  display: flex;
  justify-content: space-between;
  margin-left: 92vw;
  list-style: none;
  padding-left: 2px;
}

#two {
  margin-left: 25px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/*  mobile  */
@media (max-width: 767px) {
  .headerList {
    margin-left: 510px;
  }
}
/* laptop  */
@media (min-width: 768px) {
  /* Styles for tablets and larger screens */
  /* ... */
}
