.header {
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;
  width: 99.55vw;
  background-color: #1d2024;
  color: #fff;
  font-weight: 400;
}

.headerList {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.headerListBlog {
  margin-right: 10px;
}
