@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Sedgwick+Ave+Display&display=swap");

.home {
  background-color: #1d2024;
  color: white;
  height: calc(100vh - 41px);
  display: flex;
  font-family: "Kanit", sans-serif;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.homeTitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Sedgwick Ave Display", serif;
  font-size: 4rem;
  height: 92px;
  margin-top: 10px;
}

.homeSearch {
  /* width: 500px;
  height: 45px; */
  border: none;
  background-color: yellow;
  font-size: 1.5rem;
}
.homeSearch:focus {
  outline: none;
}

.search > input {
  color: white;
}

.search {
  position: relative;
}

.home__input {
  background-color: transparent;
  border: none;
  border: 1px solid #e8eaed;
  border-radius: 20px;
  padding: 10px;
  text-indent: 25px;
  width: 75vw;
}
.search:focus {
  width: 600px;
  height: 800px;
}

.search-button {
  width: 150px;
  height: 45px;
  display: inline-block;
  margin-right: 10px;
  background-color: #303134;
  border: none;
  margin: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #e8eaed;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
}

.search-button:hover {
  border: #e8eaed 1px solid;
}

.frontendfighters {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5vh;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem;
  align-items: center;
}

.ffsocials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fflinkedin {
  cursor: pointer;
}
.ffgithub {
  cursor: pointer;
}
.ffblog {
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 7px;
  left: 11px;
}

.homeButton > button {
  margin-top: 20px;
  background-color: #303134;
  color: #e8eaed;
  border: none;
  width: 150px;
  height: 45px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.homeButton > button:hover {
  border: #e8eaed 1px solid;
}

.homeContact {
  color: #e8eaed;
}
.homeContact > a {
  margin-left: 5px;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.8rem;
  color: rgb(92, 92, 222);
}

.searchResults {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .home__input {
    width: 40vw;
  }
}
